.page {
  min-height: calc(100vh - 64px);
  background: #fff;
}

/* layout */

.content {
  display: grid;
  grid-template-columns: 1fr 488px;
  gap: 72px;
  align-items: start;
  padding: 84px 0;
  align-items: stretch;
}

/* ліва колонка */

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 512px;
  border-radius: 19px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

/* права колонка */

.info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 20px;
}

.titleRow {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
}

.id {
  font-size: 16px;
  font-weight: 500;
  color: #8d929a;
  white-space: nowrap;
}

.meta {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #3470ff;
  margin: 16px 0 32px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #101828;
}

/* sections */

.sectionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 32px;
  margin-top: 68px;
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}

/* lists */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #101828;
}

/* specifications */

.specs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.specItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #101828;
}
